log/*.log
tmp/**/*
obj
bin
doc/thesis-master.pdf
_ReSharper
*.g.cs
*.dll
*.resharper.user
*.resharper
*.csproj.user
*.suo
*.cache
*~
*.swp

/src/aCuda/aCudaResearch/_ReSharper.aCudaResearch/BuildScriptCache/.crc
/src/aCuda/aCudaResearch/_ReSharper.aCudaResearch/BuildScriptCache/4/16fb66ef.dat
/src/aCuda/aCudaResearch/_ReSharper.aCudaResearch/ModuleIds.xml
/src/aCuda/aCudaResearch/_ReSharper.aCudaResearch/NamedArguments/.crc
/src/aCuda/aCudaResearch/_ReSharper.aCudaResearch/NamedArguments/3/4c91b939.dat
/src/aCuda/aCudaResearch/_ReSharper.aCudaResearch/SymbolCache.bin
/src/aCuda/aCudaResearch/_ReSharper.aCudaResearch/TodoCache/.crc
/src/aCuda/aCudaResearch/_ReSharper.aCudaResearch/TodoCache/4/16fb66ef.dat
/src/aCuda/aCudaResearch/_ReSharper.aCudaResearch/WordIndex/.crc
/src/aCuda/aCudaResearch/_ReSharper.aCudaResearch/WordIndex/3/4c91b939.dat
/src/aCuda/aCudaResearch/_ReSharper.aCudaResearch/BuildScriptCache/0/7e3b97b9.dat
/src/aCuda/aCudaResearch/_ReSharper.aCudaResearch/NamedArguments/1/74cb93.dat
/src/aCuda/aCudaResearch/_ReSharper.aCudaResearch/TodoCache/0/7c0263e0.dat
/src/aCuda/aCudaResearch/_ReSharper.aCudaResearch/WordIndex/9/33d1ea04.dat
/src/aCuda/aCudaResearch/_UpgradeReport_Files/UpgradeReport.css
/src/aCuda/aCudaResearch/_UpgradeReport_Files/UpgradeReport.xslt
/src/aCuda/aCudaResearch/_UpgradeReport_Files/UpgradeReport_Minus.gif
/src/aCuda/aCudaResearch/_UpgradeReport_Files/UpgradeReport_Plus.gif
