log/*.log
tmp/**/*
obj
bin
doc/thesis-master.pdf
_ReSharper
*.g.cs
*.dll
*.resharper.user
*.resharper
*.csproj.user
*.suo
*.cache
*~
*.swp
/src/aCuda/aCudaResearch/_ReSharper.aCudaResearch/*
/src/aCuda/aCudaResearch/UpgradeLog.XML